* {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

body {
  font-size: 16px;
  background-color: #C5C6B6;
  color: #3C3530;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 4%;
  position: relative; }

h1 {
  font-size: 2.5em;
  text-align: center; }

h3 {
  font-size: .85em;
  text-align: center;
  font-weight: 300; }

.category-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4em;
  opacity: 1;
  transition: opacity .5s; }
  .category-wrapper.fadeOut {
    opacity: 0; }
  .category-wrapper div {
    font-size: 1.5em;
    margin-right: 1.5em; }
  .category-wrapper ul {
    display: flex;
    margin-top: 1em; }
    .category-wrapper ul li {
      background-color: #F16B6F;
      color: #FFF;
      padding: .6em;
      margin: .5em .5em;
      text-align: center;
      cursor: pointer;
      transition: all .17s; }
      .category-wrapper ul li:hover {
        transform: scale(1.04); }

.playing-field {
  display: none;
  opacity: 0;
  transition: opacity .5s; }
  .playing-field.fadeIn {
    opacity: 1; }
  .playing-field .letters-wrapper-outer {
    display: flex;
    justify-content: center;
    margin-top: 3em; }
    .playing-field .letters-wrapper-outer .letters-wrapper-inner {
      display: flex; }
      .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
        font-size: 1em;
        margin: .5em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        background-color: #F16B6F;
        color: #FFF;
        transition: all .17s; }
        .playing-field .letters-wrapper-outer .letters-wrapper-inner span.disabled {
          opacity: .2;
          pointer-events: none; }
        .playing-field .letters-wrapper-outer .letters-wrapper-inner span:nth-child(even):hover {
          transform: rotate(7deg); }
        .playing-field .letters-wrapper-outer .letters-wrapper-inner span:nth-child(odd):hover {
          transform: rotate(-7deg); }
  .playing-field .lines-for-letters-wrapper {
    display: flex;
    justify-content: center;
    margin: 2em 0 1em; }
    .playing-field .lines-for-letters-wrapper div {
      display: inline-flex;
      border-bottom: 1px solid #3C3530;
      margin: 1em;
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center; }
      .playing-field .lines-for-letters-wrapper div:empty {
        border: 0;
        display: block;
        width: 100%;
        margin: -2em; }
      .playing-field .lines-for-letters-wrapper div span {
        font-size: 1.6em;
        text-transform: uppercase;
        opacity: 0.2;
        transition: opacity .5s; }
        .playing-field .lines-for-letters-wrapper div span.fadeIn {
          opacity: 1; }
  .playing-field .guesses-remaining-wrapper {
    margin-bottom: 1em; }
  .playing-field button {
    font-size: 1.2em;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translateX(50%);
    font-weight: 300;
    background-color: #F16B6F;
    color: #FFF;
    border: 0;
    padding: .6em 2em;
    cursor: pointer;
    outline: 0; }
