@keyframes win {
  0% {
    color: #3C3530; }
  20% {
    color: transparent; } }

@keyframes warning {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); } }

* {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap; }

body {
  font-size: 16px;
  background-color: #C5C6B6;
  color: #3C3530;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 4%;
  position: relative; }
  .wrapper h1 {
    font-size: 2.5em;
    text-align: center; }
  .wrapper h3 {
    font-size: .85em;
    text-align: center;
    font-weight: 300; }
  .wrapper .difficulty-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;
    opacity: 1;
    transition: opacity .5s; }
    .wrapper .difficulty-wrapper.fadeOut {
      opacity: 0; }
    .wrapper .difficulty-wrapper div {
      font-size: 1.5em; }
    .wrapper .difficulty-wrapper ul {
      display: flex;
      justify-content: center;
      margin-top: 1em; }
      .wrapper .difficulty-wrapper ul li {
        background-color: #F16B6F;
        color: #FFF;
        padding: .6em;
        margin: .5em .5em;
        text-align: center;
        cursor: pointer;
        transition: all .17s; }
        .wrapper .difficulty-wrapper ul li span {
          font-size: .75em;
          letter-spacing: 1px;
          pointer-events: none; }
        .wrapper .difficulty-wrapper ul li:hover {
          transform: scale(1.04); }
  .wrapper .category-wrapper {
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 4em;
    opacity: 0;
    transition: opacity .5s; }
    .wrapper .category-wrapper.fadeIn {
      opacity: 1; }
    .wrapper .category-wrapper.fadeOut {
      opacity: 0; }
    .wrapper .category-wrapper div {
      font-size: 1.5em; }
    .wrapper .category-wrapper ul {
      display: flex;
      justify-content: center;
      margin-top: 1em; }
      .wrapper .category-wrapper ul li {
        background-color: #F16B6F;
        color: #FFF;
        padding: .6em;
        margin: .5em .5em;
        text-align: center;
        cursor: pointer;
        transition: all .17s; }
        .wrapper .category-wrapper ul li:hover {
          transform: scale(1.04); }
  .wrapper .playing-field {
    display: none;
    opacity: 0;
    transition: opacity .5s; }
    .wrapper .playing-field.fadeIn {
      opacity: 1; }
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      margin: 3em 0 1em; }
      .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper {
        margin-bottom: 1em;
        position: relative; }
        .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type {
          font-size: 1.2em;
          position: absolute;
          top: -3px;
          right: -31px; }
          .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type.warning {
            font-size: 1.5em;
            font-weight: 500;
            color: #F16B6F;
            top: -10px;
            right: -32px;
            animation: warning 1s infinite; }
      .wrapper .playing-field .game-info-wrapper .selected-category-wrapper {
        position: relative;
        bottom: 4px; }
        .wrapper .playing-field .game-info-wrapper .selected-category-wrapper span:last-of-type {
          font-size: 1.2em;
          text-transform: uppercase;
          position: relative;
          left: .05em; }
    .wrapper .playing-field .letters-wrapper-outer {
      display: flex;
      justify-content: center; }
      .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner {
        display: flex; }
        .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
          font-size: 1em;
          margin: .5em;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: #F16B6F;
          color: #FFF;
          transition: all .17s; }
          .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span.disabled {
            opacity: .2;
            pointer-events: none; }
          .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span:nth-child(even):hover {
            transform: rotate(7deg); }
          .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span:nth-child(odd):hover {
            transform: rotate(-7deg); }
    .wrapper .playing-field .lines-for-letters-wrapper {
      display: flex;
      justify-content: center;
      margin: 2.2em 0; }
      .wrapper .playing-field .lines-for-letters-wrapper div {
        display: inline-flex;
        border-bottom: 1px solid #3C3530;
        margin: 1em;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center; }
        .wrapper .playing-field .lines-for-letters-wrapper div:empty {
          border: 0;
          display: block;
          width: 150%;
          margin: -1em; }
        .wrapper .playing-field .lines-for-letters-wrapper div span {
          font-size: 1.6em;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity .5s; }
          .wrapper .playing-field .lines-for-letters-wrapper div span.fadeIn {
            opacity: 1; }
    .wrapper .playing-field .win-or-lose-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 4em; }
      .wrapper .playing-field .win-or-lose-wrapper span {
        font-size: 2.5em;
        text-transform: uppercase;
        display: none; }
        .wrapper .playing-field .win-or-lose-wrapper span:first-of-type {
          animation: win .9s infinite; }
    .wrapper .playing-field button {
      font-size: 1.1em;
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
      font-weight: 300;
      background-color: #F16B6F;
      color: #FFF;
      border: 0;
      padding: .6em 2em;
      cursor: pointer;
      outline: 0;
      margin-bottom: 3em; }
      .wrapper .playing-field button:hover {
        background-color: #f27679; }
  @media all and (max-width: 885px) {
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1.3em; }
    .wrapper .playing-field .lines-for-letters-wrapper div {
      margin: .9em;
      width: 30px;
      height: 30px; } }
  @media all and (max-width: 775px) {
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1.2em; }
    .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
      font-size: .9em;
      margin: .5em;
      width: 35px;
      height: 35px; }
    .wrapper .playing-field .lines-for-letters-wrapper div {
      margin: .8em;
      width: 26px;
      height: 26px; }
      .wrapper .playing-field .lines-for-letters-wrapper div span {
        font-size: 1.4em; } }
  @media all and (max-width: 690px) {
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1.2em;
      flex-direction: column;
      align-items: center; }
      .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper {
        margin-bottom: .7em; }
        .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type {
          top: -2px;
          right: -22px; }
          .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type.warning {
            top: -8px;
            right: -28px; }
      .wrapper .playing-field .game-info-wrapper .selected-category-wrapper {
        margin-bottom: .5em; }
        .wrapper .playing-field .game-info-wrapper .selected-category-wrapper span:last-of-type {
          font-size: 1.1em; }
    .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
      font-size: .9em;
      margin: .5em;
      width: 35px;
      height: 35px; }
    .wrapper .playing-field .lines-for-letters-wrapper div {
      margin: .6em;
      width: 24px;
      height: 24px; }
      .wrapper .playing-field .lines-for-letters-wrapper div span {
        font-size: 1.2em; }
    .wrapper .playing-field button {
      font-size: 1em; } }
  @media all and (max-width: 570px) {
    .wrapper .category-wrapper div {
      font-size: 1.3em; }
    .wrapper .category-wrapper ul {
      display: flex;
      justify-content: center;
      margin-top: 1em; }
      .wrapper .category-wrapper ul li {
        font-size: .9em;
        background-color: #F16B6F;
        color: #FFF;
        padding: .6em;
        margin: .5em .5em;
        text-align: center;
        cursor: pointer;
        transition: all .17s; }
        .wrapper .category-wrapper ul li:hover {
          transform: scale(1.04); }
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1.1em;
      flex-direction: column;
      align-items: center; }
    .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
      font-size: .8em;
      margin: .4em;
      width: 30px;
      height: 30px; }
    .wrapper .playing-field .lines-for-letters-wrapper div {
      margin: .4em;
      width: 20px;
      height: 20px; }
      .wrapper .playing-field .lines-for-letters-wrapper div span {
        font-size: 1.1em; }
    .wrapper .playing-field .win-or-lose-wrapper span {
      font-size: 1.8em;
      text-transform: uppercase;
      display: none; }
      .wrapper .playing-field .win-or-lose-wrapper span:first-of-type {
        animation: win .9s infinite; }
    .wrapper .playing-field button {
      font-size: .9em; } }
  @media all and (max-width: 435px) {
    .wrapper .playing-field .game-info-wrapper {
      font-size: 1em;
      flex-direction: column;
      align-items: center; }
      .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type {
        top: -3px;
        right: -17px; }
        .wrapper .playing-field .game-info-wrapper .guesses-remaining-wrapper span:last-of-type.warning {
          top: -7px;
          right: -22px; }
    .wrapper .playing-field .letters-wrapper-outer .letters-wrapper-inner span {
      font-size: .75em;
      margin: .4em;
      width: 29px;
      height: 29px; }
    .wrapper .playing-field .lines-for-letters-wrapper div {
      margin: .3em;
      width: 17px;
      height: 17px; }
      .wrapper .playing-field .lines-for-letters-wrapper div span {
        font-size: .95em; }
    .wrapper .playing-field button {
      font-size: .85em; } }
