// colors //
$color-black: #3C3530;
$color-white: #FFF;
$color-green: #AACD6E;
$color-grey: #C5C6B6;
$color-pink: #F16B6F;

// font-weight //
$font-weight-light: 300;
$font-weight-bold: 500;

// animations //
@keyframes win {
  0% { color: $color-black; }
  20% { color: transparent; }
}

@keyframes warning {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

body {
  font-size: 16px;
  background-color: $color-grey;
  color: $color-black;
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-light;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 4%;
  position: relative;

  h1 {
    font-size: 2.8em;
    text-align: center;
  }

  h3 {
    font-size: .9em;
    text-align: center;
    font-weight: $font-weight-light;
  }

  .author {
    font-size: .8em;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: .3em;

    a {
      color: $color-black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .difficulty-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
    opacity: 1;
    transition: opacity .5s;

    &.fadeOut {
      opacity: 0;
    }

    div {
      font-size: 1.5em;
    }

    ul {
      display: flex;
      justify-content: center;
      margin-top: 1em;

      li {
        background-color: $color-pink;
        color: $color-white;
        padding: .6em;
        margin: .5em .5em;
        text-align: center;
        cursor: pointer;
        transition: all .17s;

        span {
          font-size: .75em;
          letter-spacing: 1px;
          pointer-events: none;
        }

        &:hover {
          transform: scale(1.04);
        }
      }
    }
  }

  .category-wrapper {
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
    opacity: 0;
    transition: opacity .5s;

    &.fadeIn {
      opacity: 1;
    }

    &.fadeOut {
      opacity: 0;
    }

    div {
      font-size: 1.5em;
    }

    ul {
      display: flex;
      justify-content: center;
      margin-top: 1em;

      li {
        background-color: $color-pink;
        color: $color-white;
        padding: .6em;
        margin: .5em .5em;
        text-align: center;
        cursor: pointer;
        transition: all .17s;

        &:hover {
          transform: scale(1.04);
        }
      }
    }
  }

  .playing-field {
    display: none;
    opacity: 0;
    transition: opacity .5s;

    &.fadeIn {
      opacity: 1;
    }

    .game-info-wrapper {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      margin: 3em 0 1em;

      .guesses-remaining-wrapper {
        margin-bottom: 1em;
        position: relative;

        span:last-of-type {
          font-size: 1.2em;
          position: absolute;
          top: -3px;
          right: -31px;

          &.warning {
            font-size: 1.5em;
            font-weight: $font-weight-bold;
            color: $color-pink;
            top: -10px;
            right: -32px;
            animation: warning 1s infinite;
          }
        }
      }

      .selected-category-wrapper {
        position: relative;
        bottom: 4px;

        span:last-of-type {
          font-size: 1.2em;
          text-transform: uppercase;
          position: relative;
          left: .05em;
        }
      }
    }

    .letters-wrapper-outer {
      display: flex;
      justify-content: center;

      .letters-wrapper-inner {
        display: flex;

        span {
          font-size: 1em;
          margin: .5em;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 38px;
          height: 38px;
          background-color: $color-pink;
          color: $color-white;
          transition: all .17s;

          &.disabled {
            opacity: .2;
            pointer-events: none;
          }

          &:nth-child(even):hover {
            transform: rotate(7deg);
          }

          &:nth-child(odd):hover {
            transform: rotate(-7deg);
          }
        }
      }
    }

    .lines-for-letters-wrapper {
      display: flex;
      justify-content: center;
      margin: 2.2em 0;

      div {
        display: inline-flex;
        border-bottom: 1px solid #3C3530;
        margin: 1em;
        width: 35px;
        height: 35px;
        justify-content: center;
        align-items: center;

        &:empty {
          border: 0;
          display: block;
          width: 150%;
          margin: -1em;
        }

        span {
          font-size: 1.6em;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity .5s;

          &.fadeIn {
            opacity: 1;
          }
        }
      }
    }

    .win-or-lose-wrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 4em;

      span {
        font-size: 2.5em;
        text-transform: uppercase;
        display: none;

        &:first-of-type {
          animation: win .9s infinite;
        }
      }
    }

    button {
      font-size: 1.1em;
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
      font-weight: $font-weight-light;
      background-color: $color-pink;
      color: $color-white;
      border: 0;
      padding: .6em 2em;
      cursor: pointer;
      outline: 0;
      margin-bottom: 3em;

      &:hover {
        background-color: lighten($color-pink, 2.3%);
      }
    }
  }

  @media all and (max-width: 885px) {
    .playing-field {
      .game-info-wrapper {
        font-size: 1.3em;
      }

      .lines-for-letters-wrapper {
        div {
          margin: .9em;
          width: 30px;
          height: 30px;
        }
      }
    }
  }

  @media all and (max-width: 775px) {
    .playing-field {
      .game-info-wrapper {
        font-size: 1.2em;
      }

      .letters-wrapper-outer {
        .letters-wrapper-inner {
          span {
            font-size: .9em;
            margin: .5em;
            width: 35px;
            height: 35px;
          }
        }
      }

      .lines-for-letters-wrapper {
        div {
          margin: .8em;
          width: 26px;
          height: 26px;

          span {
            font-size: 1.4em;
          }
        }
      }
    }
  }

  @media all and (max-width: 690px) {
    .playing-field {
      .game-info-wrapper {
        font-size: 1.2em;
        flex-direction: column;
        align-items: center;

        .guesses-remaining-wrapper {
          margin-bottom: .7em;

          span:last-of-type {
            top: -2px;
            right: -22px;

            &.warning {
              top: -8px;
              right: -28px;
            }
          }
        }

        .selected-category-wrapper {
          margin-bottom: .5em;
          span:last-of-type {
            font-size: 1.1em;
          }
        }
      }

      .letters-wrapper-outer {
        .letters-wrapper-inner {
          span {
            font-size: .9em;
            margin: .5em;
            width: 35px;
            height: 35px;
          }
        }
      }

      .lines-for-letters-wrapper {
        div {
          margin: .6em;
          width: 24px;
          height: 24px;

          span {
            font-size: 1.2em;
          }
        }
      }

      button {
        font-size: 1em;
      }
    }
  }

  @media all and (max-width: 570px) {
    .category-wrapper {
      div {
        font-size: 1.3em;
      }

      ul {
        display: flex;
        justify-content: center;
        margin-top: 1em;

        li {
          font-size: .9em;
          background-color: $color-pink;
          color: $color-white;
          padding: .6em;
          margin: .5em .5em;
          text-align: center;
          cursor: pointer;
          transition: all .17s;

          &:hover {
            transform: scale(1.04);
          }
        }
      }
    }

    .playing-field {
      .game-info-wrapper {
        font-size: 1.1em;
        flex-direction: column;
        align-items: center;
      }

      .letters-wrapper-outer {
        .letters-wrapper-inner {
          span {
            font-size: .8em;
            margin: .4em;
            width: 30px;
            height: 30px;
          }
        }
      }

      .lines-for-letters-wrapper {
        div {
          margin: .4em;
          width: 20px;
          height: 20px;

          span {
            font-size: 1.1em;
          }
        }
      }

      .win-or-lose-wrapper {
        span {
          font-size: 1.8em;
          text-transform: uppercase;
          display: none;

          &:first-of-type {
            animation: win .9s infinite;
          }
        }
      }

      button {
        font-size: .9em;
      }
    }
  }

  @media all and (max-width: 435px) {
    .playing-field {
      .game-info-wrapper {
        font-size: 1em;
        flex-direction: column;
        align-items: center;

        .guesses-remaining-wrapper {
          span:last-of-type {
            top: -3px;
            right: -17px;

            &.warning {
              top: -7px;
              right: -22px;
            }
          }
        }
      }

      .letters-wrapper-outer {
        .letters-wrapper-inner {
          span {
            font-size: .75em;
            margin: .4em;
            width: 29px;
            height: 29px;
          }
        }
      }

      .lines-for-letters-wrapper {
        div {
          margin: .3em;
          width: 17px;
          height: 17px;

          span {
            font-size: .95em;
          }
        }
      }

      button {
        font-size: .85em;
      }
    }
  }
}
