// colors //
$color-black: #333;
$color-white: #FFF;

// font-weight //
$font-weight-light: 300;
$font-weight-bold: 500;


* {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background-color: $color-black;
  color: $color-white;
  font-family: 'Montserrat', sans-serif;
  font-weight: $font-weight-light;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 4em 0;
}

h1 {
	font-size: 2.7em;
	text-align: center;
}

h3 {
	font-size: .9em;
	text-align: center;
	font-weight: $font-weight-light;
}